# Database
DB_USER=Capstone5703
DB_PASSWORD=AWS RDB password
DB_HOST=database-1.cvc2s6eouty2.ap-southeast-2.rds.amazonaws.com
DB_PORT=5432
DB_NAME=capstone5703

# Server
HOST=0.0.0.0

# Ports
SCRAPER_PORT=5001
CV_BACKEND_PORT=5050

# Internal service URLs
SCRAPER_INTERNAL_URL=http://127.0.0.1:5001