DB_USER=postgres
DB_PASSWORD=your_password
DB_HOST=localhost
DB_PORT=5432
DB_NAME=capstone5703

HOST=0.0.0.0
BRIDGE_RESEARCHER_PORT=8120
BRIDGE_PARTICIPANT_PORT=8121
SCRAPER_PORT=5001
CV_BACKEND_PORT=5050